*{
margin: 0;
padding: 0;
border: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

/* VARIABLES */
:root{
--primary: #57CC8D;
--secondary: #B0E7CA;
--white: #EBF7FF;
--accent: #EC2B3A;
--soft-accent: #ED4556;
}

main{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.home-main{
    display: flex;
}

.home-video{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.title-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-div img{
    height: 4rem;
}

.title{
    font-size: 2rem;
    color: white;
    background-color: var(--accent);
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 300;
    margin: 0 0 200px 0;
}

.title span{
    font-weight: 600;
    font-style: italic;
}

.home-div{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-button{
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: var(--primary);
    border-radius: 10px;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
}

.home-button a, .home-button a:visited{
    color: rgb(255, 255, 255);
}