*{
margin: 0;
padding: 0;
border: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
button{
    background-color: transparent;
}

/* VARIABLES */
:root{
--primary: #57CC8D;
--secondary: #B0E7CA;
--white: #fdffeb;
--accent: #EC2B3A;
--soft-accent: #ED4556;
}


/* COMMON STYLES */
main{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

*{
    font-family: 'Poppins', sans-serif;
}