.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid 1px #57CC8D;
    border-radius: 20px;
    width: 130px;
    margin: 0 auto;
}

.card img{
    width: 8rem;
    height: auto;
    border-radius: 100%;
}

.card h1{
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
}

.card p{
    font-size: 0.8rem;
    text-align: left;
}
@media (min-width: 400px){
    .card img{
        width: 8rem;
        height: auto;
        border-radius: 10%;
        width: 200px;
    }
    .card{
        width: 330px;
        margin: 0 auto;
    }
}

/* -----------------------IMAGEN DE LA LISA DE RECETA  */
.recelist, img{
    display: flex;
   margin: 0 auto;
   width: 350px;
}
.Wacth{
 display: flex;
 gap: 0.2rem;
 background-color:  #57CC8D;
 border: #57CC8D solid;
 border-radius: 10px;
 position: absolute;
 margin-top: 100px;
 margin-left: 20px;
}
.wacth-img{
    width: 10px;
}
.mas{
    margin-left: 12px;
}

@media (min-width: 400px){
    .recelist, img{
        display: flex;
        margin: 0 auto;
        width: 550px;
       
    }
    .Wacth{
        margin-top: 180px;
        margin-left: 20px;
       }
    .wacth-img{
        width: 10px;
    }
    .mas{
        padding-top: 30px;
        text-align: center;
    }
}